# NetBeans
nbproject/private/
build/
dist/
*.bak

# Sistema
.DS_Store
Thumbs.db

# Libs e drivers locais
lib/
*.jar

# IDE
*.iml
*.ipr
*.iws
.idea/

# Arquivos de log e temporários
*.log
*.tmp
*.class